{% extends "layout.html" %}
{% block title %}
Student List
{% endblock %}
{% block content %}
<!-- Category Start -->
<div class="container-xxl py-5">
	<div class="container">
		<h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Candidate</h1>
		<div class="row g-4">
            {% for item in data %}
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
				<a class="cat-item rounded p-4" href="{{ url_for('studentProfile', Id=item[0]) }}">
					<img class="flex-shrink-0 img-fluid border rounded" src="{{item[1]}}" alt=""
                                    style="width: 80px; height: 80px;">
					<h4 class="mb-3">{{item[2]}}</h4>
					<h6 class="mb-0 text-primary">{{item[3]}}</h6>
				</a>
			</div>
            {% endfor %}
		</div>
	</div>
</div>
<!-- Category End -->
{% endblock %}